.container {
  margin: 0px;
  margin-bottom: 5px;
  height: 50px;

  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primaryColor);
  box-shadow: 2px 2px black;
}

.container:hover {
  box-shadow: 2px 2px var(--accentColor);
  transition: 0.1s;
}

.buttonStyle {
  border-radius: 0px;
  padding: 0px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 0px;
  border: none;
  background-color: transparent;
  color: white;
}

#deleteStyle:hover {
  cursor: pointer;
  color: #d50000;
  transition: 0.1s;
}

#edit:hover {
  cursor: pointer;
  color: #1e88e5;
  transition: 0.1s;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* width: 80%; */
  flex: 1;
  /* background-color: red; */
}

.nameLoginContainer {
  display: inline-block;
  vertical-align: middle;
  flex: 3;
  padding-left: 5px;
  margin-left: 5px;
  /* background-color: green; */
}

.nameStyle {
  font-weight: bold;
  color: var(--accentColor);
  /* text-shadow: 1px 1px black; */
}
.loginStyle {
  color: white;
}

.copiedStyle {
  font-size: 14px;
  color: #c8e6c9;
}
