@import "../../css/root.css";

.container {
  margin: 0px;
  margin-bottom: 5px;
  height: 50px;

  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primaryColor);
  box-shadow: 2px 2px black;
}

.container:hover {
  box-shadow: 2px 2px var(--accentColor);
  transition: 0.1s;
}

.Button {
  border-radius: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* width: 80%; */
  flex: 1;
  /* background-color: red; */
}

.name-login-container {
  display: inline-block;
  vertical-align: middle;
  flex: 3;
  /* background-color: green; */
}

.name-style {
  font-weight: bold;
  color: var(--accentColor);
  text-shadow: 1px 1px black;
}
.login-style {
  color: white;
}

#update {
  border-radius: 0px;
  margin-right: 5px;
  border: 1px solid black;
}

#remove {
  border-radius: 0px;
  border: 1px solid black;
}

#update:hover {
  border: 1px solid darkred;
}

#remove:hover {
  border: 1px solid darkred;
}
