@import "../../css/root.css";

.input {
  background-color: var(--secondaryColor);
  border: 1px solid black;
  border-radius: 0px;
  color: white;
}

.input:focus {
  background-color: var(--secondaryColor);
  border: 1px solid var(--accentColor);
  color: white;
  box-shadow: none;
}

.input:-moz-ui-invalid {
  box-shadow: none;
}

.add-button {
  background-color: var(--primaryColor);
  color: white;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.add-button:hover {
  color: var(--accentColor);
  transition: 0.1s;
}

.add-button:hover {
  box-shadow: 2px 2px var(--accentColor);
}
